$screen-lg:         1178px;
$screen-md:         1178px;
$grid-columns:      12;
$grid-gutter-width: 26px;
$container-large-desktop: (1152 + $grid-gutter-width);
$container-desktop:       $container-large-desktop;

$font-family-sans-serif: "Microsoft YaHei", 'Helvetica Neue', Helvetica, Arial, Sans-serif;
$border-radius-base: 3px;

@import "bootstrap";
@import "compass";
@import "compass/utilities";

@import "main/mixins";
@import "main/typography";
@import "main/layout";
