%nav.navbar.navbar-default
  .container
    .navbar-header
      = link_to "VIP", "/", class: "navbar-brand"

    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "添加+", new_item_path, class: ""